---
import Layout from "../layouts/Layout.astro";
import * as quoteCollection from '../quotes.json'
const chosenQuote = quoteCollection.quotes[Math.floor(Math.random() * quoteCollection.quotes.length)];
---

<Layout>
	<main class="bg-neutral-900 text-neutral-200">
		<div class="h-screen grid place-items-center selection:bg-sky-600">
			<div class="font-serif text-center max-w-3xl p-3">
				<h1 class="text-4xl italic">
					"{chosenQuote.quote}"
				</h1>
				<p class="mt-4">
					<span>{chosenQuote.date}</span>
					<span class="text-neutral-300">&middot;</span>
					<span class="underline decoration-sky-400"><a href="{chosenQuote.url}" target="_blank">{chosenQuote.author}</a></span>
				</p>
			</div>
		</div>
	</main>
</Layout>