<div class="bg-black/20 text-center p-4">
    <span class="text-neutral-500">Created by <span class="text-neutral-200">Merlin</span> with <a class="text-neutral-200 underline" target="_blank" href="https://github.com/SimplyMerlin/simplymerlin-site">Astro</a>.</span>
</div>